    <div id="container">
        <div class="homePageImage">
            <a href="#topImage" rel="nofollow"><div id="firstImage"></div></a>
            <div id="name">Kaitlyn Mohr</div>
        </div>
        <div id="imageLinks">
            <div id="resume">
                <div class="resumePic">
                </div>
                <div class="resumeText">Resume</div>
            </div>
            <div id="portfolio">
                <div class="portfolioPic"></div>
                <div class="portfolioText">Portfolio</div>
            </div>
            <div id="contact">
                <div class="contactPic"></div>
                <div class="contactText">Contact Me</div>
            </div>
        </div>
        <div class="aboutMe" id="topImage">
            <div id="aboutMeTitle">
                ABOUT ME<a name="topImage"></a>
            </div>
            <div id="aboutMeDoc">
                When I was eight, I dressed my younger brother in a blazer over his t-shirt and cargo shorts and my little sister in a leotard and tutu. Then, I put myself in a white nightgown, and I planned and hosted a wedding in my living room. Since then I've been planning events. It could be anyone’s birthday party (although mine is always preferred), entertaining small children, any and all holidays, and honestly anytime I could host an event I was lucky enough to have parents who would let me. True to myself, I even worked at a party store during high school.
                <br>
                <br> Then I went off to college, and I did two things that would completely change my life. I joined “Program Board” (which plans most of the events on campus) and changed my major to Marketing. Over the course of the next four years, I would personally be in charge of planning over fifteen events and oversee others plan fifty plus events. I would work with budgets that ranged from hundreds of dollars to $100,000. I have come to realize that I was lucky enough to learn just as much as I did in the classroom as I did outside it.
                <br>
                <br> Since then I have been marketing and planning events for the largest tradeshow company in the world. Although my first passion will always be event planning I have found that working in HTML and the design programs, give me just as much joy. I'm lucky enough to be a person who has found I have many passions including but not limited to obviously event planning, coding in HTML, spending hours in design programs, crocheting, crafting of all sorts, skiing, hiking, spending time with loved ones, and TRAVELING (21 states & 15 countries so far)!
            </div>
        </div>
    </div>
</body>
