    <div id="containerR">
        <div id="resumeHeader">
            <hr class="left">Resume &#38; Skills
            <hr class="right">
        </div>
        <div id="pageContainer">
            <div id="sideBar">
                <div id="resumeSB" class="onSB">Resume</div>
                <div id="skillsSB">Skills</div>
            </div>
            <div id="resumeImgs">
                <div id="pageOne"></div>
                <div id="pageTwo"></div>
                <div id="download">
                    <form method="get" action="resume/Kaitlyn_Mohr-Resume.pdf">
                        <button type="submit" name="pdfVersion">PDF Version of Kaitlyn Mohr's Resume</button>
                    </form>
                </div>
            </div>
            <div id="skillsInfo">
                <div id="columnOne">
                    <h1>Web Development:</h1>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>JQuery</li>
                        <li>Ajax</li>
                        <li>Node/Node.js</li>
                        <li>SQL/Postgres/SQLite</li>
                        <li>Heroku</li>
                        <li>Git</li>
                        <li>Ruby on Rails</li>
                        <li>React</li>
                    </ul>
                </div>
                <div id="columnTwo">
                    <h1>Marketing:</h1>
                    <ul>
                        <li>ExactTarget</li>
                        <li>Dreamweaver</li>
                        <li>InDesign</li>
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                        <li>Salesforce</li>
                        <li>CompuSystems</li>
                        <li>WordPress</li>
                        <li>NOVA</li>
                        <li>Public Speaking</li>
                        <li>Social Media</li>
                        <li>Microsoft Office Suite</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
